/*general*/

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
header {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 30px auto;
}

/*advice form*/

/*maze*/
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  height: 630px;
}

.path {
  border: 0.5px solid blue;
  height: 42px;
  width: 42px;
}

.red {
  background-color: red;
}

.block {
  background-color: black;
}

.mazeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.arrow {
  font-size: 3rem;
  font-weight: bold;
}

/*advice ready*/

.giveMeAdviceWrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.giveMeAdvice {
  width: 60%;
  padding: 30px;
  border-radius: 8px;  
  text-align: center;  
  background-color: white;
  opacity: 1;
}

@media (max-width: 645px) {
  .flexContainer{
width:  441px;
height:  441px;

}
.path{
height: 29.4px;
width:29.4px;
}
}


@media (max-width: 445px) {
  .flexContainer{
width:  315px;
height:  315px;

}
.path{
height: 21px;
width: 21px;
}
}