
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flexContainer{
  display: flex;
  width: 50vw;
  flex-wrap: wrap;
  width: 240px;
}

.path {
  border: 2px solid blue;
  height: 20px;
  width: 20px;
}

.red{
  background-color: red;
}

.block {
  background-color: black;
}

.mazeContainer{
  display: flex;
  justify-content: center;
}