/*general*/
/*general*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Poiret+One&display=swap');


html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
   background-color: #1D3548;
  margin: 0;
  text-align: center;
}

footer,
header {
  display: block;
}

footer{
  color: white;
}
h1 {
  font-size: 1em;
  color: transparent;
}
h4{
  color: black;
  font-family: 'hind siliguri';
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color:white;
  text-decoration: none;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
p{
    font-family: 'hind siliguri' ;
    background-color: transparent;
}
button,
input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0px auto;
}

.siteBackground {
  background: radial-gradient(50% 50% at 50% 50%, #00FFC2 0%, rgba(255, 255, 255, 0) 100%), #1D3548;
}

/*advice form*/


/*maze*/
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  height: 630px;
}

.path {
  height: 42px;
  width: 42px;
}

.red {
  background-color: red;
}

.block {
  background-color:#1D3548;
  border: 0.5px solid #1D3548;
}

.mazeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
 
}

.controlsContainer {
  color: transparent;
}

.topArrow, .bottomArrow, .middleArrow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  display: flex;
  justify-content: center;
}

.mazeText {
color: white;
text-align: center;
width: 50%;

}
.arrow {
  height: 54px;
  width: 54px;
  background-color: transparent;
	border-top: 30px solid transparent;
	border-right: 36px solid #1D3548;
	border-bottom: 30px solid transparent;
  border-radius: 15px;
  border-left: transparent;
  color: transparent;
}

.arrow:hover {
  height: 54px;
  width: 54px;
  background-color: transparent;
	border-top: 30px solid transparent;
	border-right: 36px solid white;
	border-bottom: 30px solid transparent;
  border-radius: 15px;
  border-left: transparent;
  color: transparent;
}

 .right {

 transform: rotate(180deg);
}

.down{
 transform: rotate(-90deg);
}
.up{
 transform: rotate(90deg);
}

.spacer {
    height:38px;
width: 63px;
}

/*advice ready*/

.giveMeAdviceWrapper {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}  

.scalingContainer{
  width: 100%;
  height: auto;
}

.frontpageContainer{
  display: flex;
  justify-content: center;
}

.formContainer {
    width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.formElement{

  width: 60%;
  left: 0px;
  bottom: 150px;
  display: flex;
  justify-content: center;
}


.giveMeAdvice {
  width: 60%;
  padding: 30px;
  border-radius: 8px;  
  text-align: center;  
  background-color: white;
  opacity: 1;
  font-family: 'hind siliguri';
}

.zoltanHeader{
  position: relative;
  left: -52px;
  bottom: 0px;
}

.zoltanContainer {
   display: flex;
  justify-content: center;
  padding-bottom: 0%;
}
input {
  display: inline-block;
}

label {
  padding: 20px;
  display:block;
text-transform: uppercase;
font-family: 'hind siliguri';


}

img{
  max-width: 70%;
  height: auto;
}



.formSubmit{
  text-align: center;
  font-family: 'hind siliguri';
  
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.formContainer button{
  display: block;

}

.zoltanImg{
  left: 0px;
  bottom: 180px;
}

.adviceSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

}


@media (max-width: 645px) {
  .flexContainer{
width:  441px;
height:  441px;

}
.path{
height: 29.4px;
width:29.4px;
}

.mazeText{
  width: 90%;
}
}


@media (max-width: 445px) {
body{
  padding: 10px;
}

  .flexContainer{
width:  315px;
height:  315px;

}
.path{
height: 21px;
width: 21px;
}

h4{
  color:white;
}

}